<div class='container mt-3'>
  <div class='row justify-content-center'>
    <div class='col-5'>
      <form action='/signup' method='post'>
        <input
          class='form-control mb-1'
          type='text'
          name='name'
          placeholder="name..."
        />
        <input
          class='form-control mb-1'
          type='password'
          name='password'
          placeholder="password..."
        />
        <input class='btn btn-outline-dark' type='submit' value='Sign up' />
        <a href="/login" class='btn btn-outline-dark mt-1'>I have An account</a>
      </form>
    </div>
  </div>
</div>