<div class="table-responsive">
  <table class="table table-hover table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each customers}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td><a href='/edit/{{ this._id }}' class="btn btn-primary">Edit</a></td>
        <td><a href="/delete" class="btn btn-danger">Delete</a></td>
      </tr>
      {{/each}}
  </table>
</div>